body, html {
  margin: 0;
  padding:0;
}

.logo {
  text-;align:left;
  width:
}

.step-1 {
  margin:50px 0px;
  border:0.5px;
  background-color: #bc2020;
  width: 100%;
}

.item {
  width: 20%;
  height: 20%;
}

table, td {
  border: 0.5px solid grey;
}

td {
  width:50vw;
  height:100px;

}

h2 {
  margin-left: 20px;
  color: white;
  font-size: 30px;
  background-size: cover;
}

.Next{
 top: 50%;
 left: 85%;
 transform: translate(-50%,-50%);
 position:absolute;
  
 background-color:maroon;
 border-color:black;
 border-style: solid;
 border-width: 0.1vw;
 width:8vw;
 height:2vw;
 border-radius:25vw;
 transition-duration: 1s;
}

.Next:hover{
 background-color: red;
 transition-timing-function: ease-in-out;
}

p6 {
 margin: 0;
 color:white;
 font-family: Helvetica,Arial,sans-serif;
 font-size: 1vw;
 position: absolute;
 top: 50%;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%)
}
